$primary-color: #0077B5;
$secondary-color: #276bff99;
$button-background-color: rgb(67, 182, 96);
$menu-background-color: #f8ff2799;
$button-hover-color: #005580;
$button-background-color: rgb(67, 178, 182);
