fieldset{
    margin-bottom: 10px;

}
legend{
    border: solid 1px violet;
    padding: 5px;
    font-weight: bold;
    border-radius: 20px;
    background: lightblue;

}
#mifoto{
    margin:5px;
    border: solid 4px green;
}
body{
background: url(https://th.bing.com/th/id/R.856d40da858a66d34af5a0e6951dbcf6?rik=UmTZlrrd3a6tcA&pid=ImgRaw&r=0);
background-size: 100%;
}
#oferta {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    display: none;
}

#oferta p {
    display: block;
    color: blue;
    
    text-align: center;
}

#ver {
    display: block;
    width: 100px;
    height: 100px;

}

#ocultar {
    display: none;
    width: 100px;
    height: 100px;
}
#pa {
    color: rgb(5, 145, 10);
    font-size: 50px;
    text-align: center;
    font-family: fantasy;
}

#pa:hover {
    /* para seleccionar cuando se pasa el raton por encima*/
    color: rgb(231, 16, 195);
    background-color: rgb(7, 42, 196);
}