fieldset{
    margin-bottom: 10px;

}
legend{
    border: solid 1px violet;
    padding: 5px;
    font-weight: bold;
    border-radius: 20px;
    background: lightblue;

}
#mifoto{
    margin:5px;
    border: solid 4px green;
}
body{
background: url(https://th.bing.com/th/id/R.856d40da858a66d34af5a0e6951dbcf6?rik=UmTZlrrd3a6tcA&pid=ImgRaw&r=0);
background-size: 100%;
}
#oferta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    color: #fff;
    transition: all .5s;
}

#oferta p {
    color: rgb(5, 145, 10);
    font-size: 1.5em;
    font-family: fantasy;
    width: 60%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
}


#ver {
    display: none;
    width: 100px;
    height: 100px;

}
#ver + label {
    background: slateblue;
    display: table;
    margin: auto;
    color: #fff;
    line-height: 3;
    padding: 0 1em;
    text-transform: uppercase;
    cursor: pointer;
}
#ver + label:hover{
    background: #38678f;
}
#ver:checked ~ #ver{
    top: 0;
}

#ocultar {
   display: none;
}

#ocultar + label {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 100;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background: tomato;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    transition: all .5s;
    display: none;
}
#ocultar:checked ~ #oferta{
    top: -100vh;
}

#ver:checked ~ #ocultar + label{
    display: block;
}
#ocultar:checked + label {
    display: none;
}