fieldset{
    margin-bottom: 10px;

}
legend{
    border: solid 1px violet;
    padding: 5px;
    font-weight: bold;
    border-radius: 20px;
    background: lightblue;

}
#mifoto{
    margin:5px;
    border: solid 4px green;
}
body{
background: url(https://th.bing.com/th/id/R.856d40da858a66d34af5a0e6951dbcf6?rik=UmTZlrrd3a6tcA&pid=ImgRaw&r=0);
background-size: 100%;
}
#oferta {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    display: none;
}


#izq2,
#dech2 {
    display: inline-block;
}

h1 {
    
    text-align: center;
    font-size: 40px;
    /* COLOR AMARILLO*/
    color: #FCDB00;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
    letter-spacing: 12px;
}

#h2 {
    margin: 5px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0;
    text-shadow: -3px -3px 3px #0000DF, 3px -3px 3px #0000DF, -3px 3px 3px #0000DF, 3px 3px 3px #0000DF;
}

#h1 {
    text-align: left;
    font-size: 30px;
    padding-left: 2%;
    font-family: cursive;
    color: cornflowerblue;
    letter-spacing: 2px;
}

#oferta1 p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(2, 2, 21);
    padding-left: 3%;
    text-align: left;

}

#oferta p {
    display: table-cell;
    color: blue;
    vertical-align: middle;
    text-align: center;
}

#ver {
    display: block;
    width: 100px;
    height: 100px;

}

#ocultar {
    display: none;
    width: 100px;
    height: 100px;
}