$body-background-color: rgb(249, 250, 249);
$text-stroke-color: rgb(71, 70, 70);
$button-background-color: rgb(67, 178, 182);
$button-hover-shadow-color: #ffffffb5;
$button-hover-shadow-offset: 8px;

body {
    background-image: url('fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $body-background-color;
    -webkit-text-stroke: 1px $text-stroke-color;
}

dialog::backdrop {
    background-color: rgba(250, 235, 215, 0.681);
}

button {
    cursor: pointer;
    border-radius: 0;
    border: none;
    background-color: $button-background-color;
    color: black;
    padding: 20px 35px;
    margin: 30px 0 20px 0;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.25s ease-in-out;
    box-shadow: 0px 0px 0 $button-hover-shadow-color;
}

button:hover {
    box-shadow: $button-hover-shadow-offset $button-hover-shadow-offset 0 #fff;
}

#content {
    padding: 60px;
}

.section {
    margin-bottom: 30px;
    border: 2px solid #0077B5;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    position: relative;
    background-image: url('fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#home {
    text-align: center;

    img {
        width: 15%;
        border-radius: 50%;
    }

    h1 {
        font-size: 24px;
        margin: 10px 0;
    }

    p {
        font-size: 18px;
        margin: 10px 0;
    }
}

#linkedin-button {
    display: inline-block;
    background-color: #0077B5;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #005580;
    }
}

/* Media query para pantallas móviles */
@media only screen and (max-width: 767px) {
    #home {
        display: flex;
        flex-direction: column;

      

        .text-container {
            text-align: center;
            padding: 20px;
        }
    }
    #content {
        padding: 40px;
    }
}