*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#mifoto{
    margin:5px;
    border: solid 4px green;
}
/* body{
background: url(https://th.bing.com/th/id/R.856d40da858a66d34af5a0e6951dbcf6?rik=UmTZlrrd3a6tcA&pid=ImgRaw&r=0);
background-size: 100%;
} */
dialog::backdrop{
    background-color: rgba(250, 235, 215, 0.681);
}
button{
    cursor: pointer;
    border-radius: 0;
    border: none;
    background-color: rgb(67, 178, 182);
    color: black;
    padding: 20px 35px;
    margin: 30px 0 20px 0;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.25s ease-in-out;
   box-shadow: 0px 0px 0 #ffffffb5;
}
button:hover {
    box-shadow: 8px 8px 0 #fff;
}
#modal p{
    color: green;
    font-size: 1.4em;
    font:italic;
}
#menu {
    position: fixed;
    top: 10px; /* Separación desde la parte superior */
    left: 10px; /* Separación desde el borde izquierdo */
    width: 200px;
    background-color: #334455; /* Cambiar a tu color deseado */
    color: white;
    padding: 20px;
    text-align: center;
    overflow-y: auto;
    height: calc(100% - 20px); /* Resta 20px para separación desde la parte inferior */
    border-radius: 15px; /* Bordes redondeados en todas las esquinas */
    border: 2px solid #0077B5; /* Borde azul */
}

#menu a {
    color: #ccc; /* Color de texto gris claro */
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease; /* Transición suave del color de texto */
    padding: 10px 20px; /* Añadido para crear un área más grande para el hover */
    border-radius: 15px; /* Bordes redondeados en todas las esquinas */
}

#menu a:hover {
    color: white; /* Color de texto blanco al pasar el ratón por encima */
    background-color: #0077B5; /* Cambio de color de fondo al pasar el ratón */
}
/* Estilos para el enlace activo */
#menu a.active {
    background-color: #0077B5; /* Color de fondo azul */
    color: white; /* Color de texto blanco para el enlace activo */
    border-radius: 15px; /* Bordes redondeados en todas las esquinas */
}




#content {
    margin-left: 220px; /* Ancho del menú con separación del borde izquierdo */
    padding: 20px;
    background-color: white; /* Fondo blanco para el contenido */
    border-top-left-radius: 0; /* Borde superior izquierdo sin redondear */
    border-bottom-left-radius: 0; /* Borde inferior izquierdo sin redondear */
    border-top-right-radius: 15px; /* Borde superior derecho redondeado */
    border-bottom-right-radius: 15px; /* Borde inferior derecho redondeado */
}

/* Estilos para las secciones */
.section {
    margin-bottom: 30px;
    border: 2px solid #0077B5; /* Borde azul */
    border-radius: 15px; /* Bordes redondeados en todas las esquinas */
    padding: 20px;
    background-color: white;
    position: relative; /* Añade posición relativa */
}

.section h2 {
    color: darkblue;
    position: absolute; /* Añade posición absoluta */
    top: -20px; /* Ajusta la distancia desde la parte superior */
    left: 20px; /* Ajusta la distancia desde la izquierda */
    background-color: white; /* Establece el fondo del título al color de fondo de la sección */
    padding: 0 10px; /* Añade relleno para separar el título del borde superior */
    border-top-left-radius: 15px; /* Borde superior izquierdo redondeado */
    border-top-right-radius: 15px; /* Borde superior derecho redondeado */
    border: 2px solid #0077B5; /* Borde superior azul */
}

/* Estilos para la sección "Home" */
#home {
    text-align: center;
}

#home img {
    max-width: 100%;
    border-radius: 50%;
}

#home h1 {
    font-size: 24px;
    margin: 10px 0;
}

#home p {
    font-size: 18px;
    margin: 10px 0;
}

/* Estilos para el botón "Más información" */
#linkedin-button {
    display: inline-block;
    background-color: #0077B5;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

#linkedin-button:hover {
    background-color: #005580; /* Cambio de color de fondo al pasar el ratón */
}

/* Estilos para las imágenes circulares */
#menu img,
#home img {
    max-width: 100%;
    border-radius: 50%;
}

/* Estilos para el diálogo modal */
dialog::backdrop {
    background-color: rgba(250, 235, 215, 0.681);
}

/* Estilos para la sección de formación */
#formacion ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye los elementos uniformemente */
}

#formacion li {
    width: calc(50% - 10px); /* 50% de ancho menos el espacio entre elementos */
    margin-bottom: 20px; /* Espacio entre elementos */
    background-color: #f2f2f2; /* Color de fondo para cada cuadrado */
    border: 2px solid #0077B5; /* Borde azul para cada cuadrado */
    padding: 10px;
    border-radius: 10px; /* Bordes redondeados para cada cuadrado */
    box-sizing: border-box; /* Incluye el borde en el cálculo del tamaño */
}
/* Estilos para la sección de experiencia laboral */
#experiencia ul,
#habilidades ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye los elementos uniformemente */
}

#experiencia li,
#habilidades li {
    width: calc(50% - 10px); /* 50% de ancho menos el espacio entre elementos */
    margin-bottom: 20px; /* Espacio entre elementos */
    background-color: #f2f2f2; /* Color de fondo para cada cuadrado */
    border: 2px solid #0077B5; /* Borde azul para cada cuadrado */
    padding: 10px;
    border-radius: 10px; /* Bordes redondeados para cada cuadrado */
    box-sizing: border-box; /* Incluye el borde en el cálculo del tamaño */
}
/* Estilos para la sección de habilidades */
#habilidades ul {
    list-style: none;
    padding: 0;
}

#habilidades li {
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border: 2px solid #0077B5;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

#habilidades li::before {
    font-weight: bold;
    content: attr(data-label) " - ";
}

/* Estilos específicos para el recuadro de idiomas */
#habilidades li[data-label="Idiomas"] {
    background-color: #f2f2f2;
    border: 2px solid #0077B5;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    font-weight: bold; /* Hacer el texto en negrita */
}
.year-background {
    background-color: #efbef9c9; /* Cambia el color de fondo según tu preferencia */
    padding: 2px 5px; /* Ajusta el espaciado alrededor del año */
    border-radius: 5px; /* Agrega bordes redondeados al fondo */
    margin-top: 10%;
}#contactame {
    text-align: center; /* Centrar horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar verticalmente */
}

#contactame .contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Centrar horizontalmente los elementos internos */
}

#contactame .contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; /* Espacio entre los elementos de contacto */
}

#contactame .contact-icon {
    font-size: 36px; /* Tamaño del icono (ajusta según tus preferencias) */
}

#contactame .contact-text {
    font-size: 18px; /* Tamaño del texto de información (ajusta según tus preferencias) */
    margin-top: 10px; /* Espacio entre el icono y el texto de información */
}


