li{
    display:inline-block;
    width:5%;
    height: 5vh;
    background-color: black;
    border-radius: 5px;
    margin: 5px;
    border-width: 0px 2px 2px 0px;
    border-color: gray;
    border-style: center;
    text-align: center;
    padding-top: 1vh;
    font-size: xx-large;
    box-shadow: 2px 2px darkblue;
}
nav{
    background-color: aquamarine;
}
#seleccionado{
    box-shadow: 2px 2px darkblue;
}
li#seleccionado{
    background-color: cadetblue;
}