body {
    background-color: azure;
    
}
header{
    background: red;
    width: 100%;
    display:inline-flex;
    z-index: 100;
    
}
ul {
   justify-content: space-around; 
    display: flex;
}
li {
    display: inline-block;
    width: 150%;
    height: 1.5em;
    background-color: black;
    border-radius: 5px;
    margin: 5px;
    border-width: 0px 2px 2px 0px;
    border-color: gray;
    border-style: center;
    text-align: center;
    padding-top: 1vh;
    font-size: xx-large;
    box-shadow: 2px 2px darkblue;
    Font-family: Consolas, monaco, monospace;
}

nav {
    background-color: cadetblue;
    display: block;
    height: 100px;
    width: 100%;
    border: 3px solid rebeccapurple;
    
}
.idGrande{
    display: flex;
    height: 50%;
    
}

#seleccionado {
    box-shadow: 2px 2px darkblue;
}

li#seleccionado {
    background-color: cadetblue;
}
.fotoPag1 {
        width: 20%;
        min-width: 150px;
        height: auto;
    }


#pa1 {
    color: blue;
}
#pa2 {
    color: rgb(255, 0, 234);
   
}
#pa3 {
    color: rgb(255, 251, 0);
}



.portaFoto {
    width: 50vw;
    height: 50vh;
    background-color: lightpink;
    display: block;
}

.laFoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 800px) {

    /*estos estilos solo se aplican a viewports de hasta 800px de ancho*/
    body {
        background-color: rgb(223, 223, 64);
    }

}

@media screen and (orientation:portrait) {

    /*estos estilos solo se aplican a movil*/
    body {
        background-color: black;
    }

    * {
        color: white;
    }

    @media screen and (max-width:900px) {
        li {
            width: 100px;
        }
    }

    @media screen and (max-width:600px) {
        li {
            width: 50px;
        }
    }
    .portaFoto {
        max-width: 800px;
        max-height: 1200px;
    }
}
@media screen and (orientation:landscape){
    .portaFoto {
        max-width: 1920px;
        max-height: 1280px;
    }
}

