*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
img {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% bottom;
    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    z-index: 0;
}
div {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    margin: auto;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    background-color: transparent;

}

p {
    text-align: center;
    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    background-color: transparent;
    color: blue;
    text-shadow: 1px 1px whitesmoke;
    font-size: calc(1.2em + 1vw + 1vh);
    font-weight: bold;
    z-index: 2;
}
p:nth-child(3) {
  color: aqua;
  font-style: italic;
}
div :active, div:hover {
    opacity: 1;
    background-color: chocolate;
}

@media all and (orientation:landscape) {
    img,div {
        width: 70vh;
        margin-left: calc(50vw - 35vh);
    }
}

